*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    /* Если в SVG стоит fill="currentColor", цвет будет наследоваться отсюда */
    color: orange;
    }

.blue-icon {
    color: #2F4BFF;
    width: 100px;
    height: 100px;
    }