*,
*::before,
*::after {
    box-sizing: border-box;
    }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
    }

ul,
ol {
    list-style: none;
    }

html:focus-within {
    scroll-behavior: smooth;
    }

a {
    text-decoration: none;
    color: inherit;
    }

img {
    max-width: 100%;
    display: block;
    }

.accordion-content{
    display: none; /* Скрываем контент */
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    }

.accordion-header, details>summary {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #eee;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    }

.active, .accordion-header:hover {
    background-color: #ccc;
    }

details>p {
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    }

/* Показываем контент, если родитель активен */
.accordion-item.active .accordion-content {
    display: block;
    }

/* Красим заголовок, если родитель активен */
.accordion-item.active .accordion-header {
    background-color: #ccc;
    }

.accordion-header {
    display: flex;
    justify-content: space-between; /* Текст слева, стрелка справа */
    align-items: center;
    }

/* Рисуем стрелочку через CSS */
.arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(45deg); /* Начальное положение (смотрит вниз) */
    transition: transform 0.3s ease; /* Плавный поворот */
    margin-right: 10px;
    }

/* Когда родитель (item) активен — поворачиваем стрелку */
.accordion-item.active .arrow {
    transform: rotate(-135deg); /* Поворот вверх */
    margin-top: 5px; /* Корректировка центра при повороте */
    }