*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: sans-serif;
    color: black;
    }

.tabs-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    }


.tabs-nav{
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding-bottom: 2rem;
    }

.tab-btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: background-color 0.25s;

    }
.tab-btn.active{
    background-color: lightgray;
    }

.tabs-content{

    }

.tab-pane{
    display: none;
    }

.tab-pane.active {
display: block;
    }