*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    transition: 0.2s background-color;

    }

.block-title:hover {
    background-color: bisque;
    cursor: pointer;
        }

.block-text {
    margin: 1rem 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0; /* Чтобы текст не занимал место, пока скрыт */
    overflow: hidden;
    transition: all 0.4s ease; /* WebStorm подскажет варианты: ease, linear, ease-in-out */
    }

.block-text.active {
        opacity: 1;
        visibility: visible;
        max-height: 500px; /* Ставь с запасом, чтобы текст влез */
        }




